@model TestTaskUkad.Models.SiteMap
@{ 
    ViewBag.Title = "Sitemap";
    var sitemap = Model;
}

<h1>Sitemap of @sitemap.Url.Host</h1>
<hr />

<a asp-action="Index" asp-controller="Sitemap">Back</a> | 
<a asp-action="Download" asp-controller="Sitemap" asp-route-siteUrl="@(sitemap.Url.AbsoluteUri)">
    Dowmload sitemap.xml
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Page</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            int i = 1;
            foreach (var s in sitemap.Map)
            {
                <tr>
                    <td>@i</td>
                    <td>@s.Url.AbsoluteUri</td>
                    <td>@s.Priority</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>