@model TestTaskUkad.Models.SiteMap
@{ 
    ViewBag.Title = "Sitemap";
    var sitemap = Model;
    var hasDiagnostic = sitemap.Map.Any(m => m.RequestsTimeLog.Count() != 0);
    var hasManyRequests = sitemap.Map.All(m => m.RequestsTimeLog.Count() > 1);
    var hasPriority = sitemap.Map.Any(m => m.Priority != null);
}

<h1>Sitemap of <a href="@sitemap.Url.AbsoluteUri">@sitemap.Url.Host</a></h1>
<hr />

<a asp-action="Index">Back</a> | 
<a asp-action="Download" asp-route-siteUrl="@(sitemap.Url.AbsoluteUri)" download="sitemap.xml">
    Sitemap.xml
</a> |
<form asp-action="RequestDiagnostic" method="post">
    <input name="siteUrl" id="siteUrl" value="@(sitemap.Url.AbsoluteUri)" type="hidden" />
    <input id="btn-diagnostic" type="submit" value="Diagnostic" class="btn btn-primary"/>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Page</th>
            @if (hasPriority)
            {
                <td>Priority</td>
            }
            @if (hasDiagnostic)
            {
                if (hasManyRequests)
                {
                    <td>MinReqTime</td>
                    <td>MaxReqTime</td>
                }
                else
                {
                    <td>ReqTime</td>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{ 
            int i = 1;
            foreach (var s in sitemap.Map)
            {
                <tr>
                    <td>@i</td>
                    <td>@s.Url.AbsoluteUri</td>
                    @if (hasPriority)
                    {
                        <td>@s.Priority</td>
                    }
                    @if (hasDiagnostic)
                    {
                        if (hasManyRequests)
                        {
                            <td>@s.RequestsTimeLog.Min()</td>
                        }
                        <td>@s.RequestsTimeLog.Max()</td>
                    }
                </tr>
                i++;
            }
        }
    </tbody>
</table>
